out
dist
node_modules
.vscode-test/
*.vsix
webpack.config.js
vsc-extension-quickstart.md
resources/OLEDB-Runner/OLEDB-Runner/bin
resources/OLEDB-Runner/OLEDB-Runner/obj
resources/OLEDB-Runner/OLEDB-Runner/Properties
resources/OLEDB-Runner/.vs