.vscode/**
.vscode-test/**
out/**
node_modules/**

.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/.eslintrc.json
**/*.map
**/.vscode-test.*
./resources/OLEDB-Runner/*
./resources/Install.png